// Tokyo Night Palette

$tokyo-bg-main: #1a1b26;
$tokyo-bg-secondary: #16161e;
$tokyo-bg-tertiary: #0c0f17;
$tokyo-bg-input: #14141b;
$tokyo-bg-border: #101014;
$tokyo-bg-tree: #2b2b3b;
$tokyo-bg-editor-dark: #1a1b26;
$tokyo-bg-editor-light: #d5d6db;
$tokyo-bg-editor-storm: #24283b;
$tokyo-bg-editor-moon: #222436;
$tokyo-bg-editor-contrast: #0d1017;
$tokyo-bg-editor-pastel: #1e1f2e;
$tokyo-bg-editor-neon: #101218;
$tokyo-selection-listActive: #202330;
$tokyo-selection-listInactive: #1c1d29;
$tokyo-selection-listHover: #13131a;
$tokyo-selection-listDrop: #1e202e;
$tokyo-selection-menuSelection: #1e202e;
$tokyo-selection-menuBorder: #1b1e2e;
$tokyo-text-primary: #a9b1d6;
$tokyo-text-muted: #787c99;
$tokyo-text-disabled: #545c7e;
$tokyo-text-description: #515670;
$tokyo-text-error: #515670;
$tokyo-text-placeholder: #999a9d;
$tokyo-text-lineNumber: #363b54;
$tokyo-text-lineNumberActive: #787c99;
$tokyo-text-settings: #6183bb;
$tokyo-text-white: #ffffff;
$tokyo-text-light: #e5e5e5;
$tokyo-text-gray: #bababc;
$tokyo-text-grayInactive: #a4a5a7;
$tokyo-text-badge: #acb0d0;
$tokyo-text-preformat: #d2e1ea;
$tokyo-border-widget: #272a31;
$tokyo-border-focus: #545c7e33;
$tokyo-border-window: #0d0f17;
$tokyo-border-sash: #29355a;
$tokyo-border-input: #272a31;
$tokyo-border-keybinding: #272a31;
$tokyo-border-keybindingBottom: #272a31ab;
$tokyo-border-checkbox: #272a31;
$tokyo-border-radio: #272a31;
$tokyo-border-dropdown: #272a31;
$tokyo-button-primary: #3d59a1dd;
$tokyo-button-primaryHover: #2d3b5a;
$tokyo-button-secondary: #222c44;
$tokyo-button-secondaryHover: #2d3b5a;
$tokyo-button-border: #7aa2f780;
$tokyo-button-separator: #7aa2f766;
$tokyo-button-foreground: #ffffff;
$tokyo-scrollbar-shadow: #00000033;
$tokyo-scrollbar-background: #868bc415;
$tokyo-scrollbar-hover: #868bc410;
$tokyo-scrollbar-active: #868bc422;
$tokyo-badge-background: #7e83b230;
$tokyo-badge-activityBar: #3d59a1;
$tokyo-badge-extension: #7bb2fa;
$tokyo-badge-extensionForeground: #0c0f17;
$tokyo-extension-prominentBackground: #7dcfff;
$tokyo-extension-prominentHover: #222c444d;
$tokyo-extension-prominentForeground: #e5e5e5;
$tokyo-command-foreground: #bababc;
$tokyo-command-activeForeground: #e5e5e5;
$tokyo-command-inactiveForeground: #a4a5a7;
$tokyo-command-background: #0c0f17;
$tokyo-command-activeBackground: #13151d;
$tokyo-banner-background: #0c0f17;
$tokyo-banner-foreground: #e5e5e5;
$tokyo-banner-iconForeground: #7dcfff;
$tokyo-keybinding-background: #0c0f1799;
$tokyo-keybinding-foreground: #e5e5e5;
$tokyo-tabs-activeBorder: #3d59a1;
$tokyo-input-optionActive: #7aa2f733;
$tokyo-input-optionHover: #13151d;
$tokyo-input-validationInfo: #7aa2f721;
$tokyo-input-validationInfoBorder: #7dcfff;
$tokyo-input-validationWarning: #e0af6821;
$tokyo-input-validationWarningBorder: #e0af68;
$tokyo-input-validationError: #e4687621;
$tokyo-input-validationErrorBorder: #e46876;
$tokyo-dropdown-foreground: #bababc;
$tokyo-dropdown-background: #0c0f17;
$tokyo-dropdown-listBackground: #0c0f17;
$tokyo-checkbox-background: #0c0f17;
$tokyo-checkbox-foreground: #e5e5e5;
$tokyo-checkbox-selectBackground: #7aa2f733;
$tokyo-radio-activeForeground: #e5e5e5;
$tokyo-radio-activeBackground: #0c0f17;
$tokyo-radio-inactiveForeground: #e5e5e5;
$tokyo-radio-inactiveBackground: #0c0f17;
$tokyo-radio-inactiveHover: #13151d;
$tokyo-activityBar-inactive: #3b3e52;
$tokyo-list-deemphasized: #787c99;
$tokyo-list-highlight: #668ac4;
$tokyo-list-invalid: #c97018;
$tokyo-list-error: #bb616b;
$tokyo-list-warning: #c49a5a;
$tokyo-git-modified: #6183bb;
$tokyo-git-ignored: #515670;
$tokyo-git-deleted: #914c54;
$tokyo-git-renamed: #449dab;
$tokyo-git-added: #449dab;
$tokyo-git-untracked: #449dab;
$tokyo-git-conflicting: #e0af68cc;
$tokyo-git-stageDeleted: #914c54;
$tokyo-git-stageModified: #6183bb;
$tokyo-scmGraph-hoverLabel: #1b1e2e;
$tokyo-scmGraph-foreground1: #ff9e64;
$tokyo-scmGraph-foreground2: #e0af68;
$tokyo-scmGraph-foreground3: #41a6b5;
$tokyo-scmGraph-foreground4: #7aa2f7;
$tokyo-scmGraph-foreground5: #bb9af7;
$tokyo-scmGraph-hoverAdditions: #41a6b5;
$tokyo-scmGraph-hoverDeletions: #f7768e;
$tokyo-scmGraph-refColor: #506FCA;
$tokyo-scmGraph-remoteRefColor: #41a6b5;
$tokyo-scmGraph-baseRefColor: #9d7cd8;
$tokyo-scmGraph-hoverDefault: #a9b1d6;
$tokyo-special-transparent: #ffffff00;
$tokyo-special-progressBar: #7dcfff;
$tokyo-special-walkThrough: #0c0f17;
$tokyo-special-textLink: #94acdf;
$tokyo-special-textLinkActive: #7dcfff;
$tokyo-special-textBlockQuote: #0c0f17;
$tokyo-special-textCodeBlock: #0c0f17;
$tokyo-special-textSeparator: #7bb0f9;
